<%= form_for(@book_info) do |f| %>
  <% if @book_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_info.errors.count, "error") %> prohibited this book_info from being saved:</h2>

      <ul>
      <% @book_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Название книги' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'Автор' %><br>
    <%= f.collection_select :author, BookInfo::AUTHORS, :to_s, :to_s %>
  </div>
  <div class="field">
    <%= f.label 'Город издателя' %><br>
    <%= f.text_field :publish_city %>
  </div>
  <div class="field">
    <%= f.label 'Издательство' %><br>
    <%= f.text_field :publisher %>
  </div>
  <div class="field">
    <%= f.label 'Год издания' %><br>
    <%= f.number_field :publish_year, :min => 1960, :max => DateTime.now.year %>
  </div>

    <div class="field">
      <fieldset>
        <legend>Жанры</legend>
        <div style="padding-left:10px;">
          <% i=0 %>
          <%= f.collection_check_boxes :genre_ids, Genre.all, :id, :name do |b| %>
              <% if ((i%3)==0) %>
                  </div><div style="padding-left:10px;">
              <% end %>
              <% i += 1 %>
              <%= b.check_box %>
              <%= b.label %>
          <% end %>
          </div>
      </fieldset>
    </div>

  <div class="field">
    <%= f.label 'Страниц в книге' %><br>
    <%= f.number_field :pages %>
  </div>
  <div class="field">
    <%= f.label 'Цена книги, руб.' %><br>
    <%= f.text_field :cost %>
  </div>
  <div class="actions">
    <%= f.submit 'Создать книгу' %>
  </div>
<% end %>
