<h1>Список всех книг</h1>

<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Publish city</th>
    <th>Publisher</th>
    <th>Publish year</th>
    <th>Pages</th>
    <th>Cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @book_infos.each do |book_info| %>
      <tr>
        <td><%= book_info.title %></td>
        <td><%= book_info.author %></td>
        <td><%= book_info.publish_city %></td>
        <td><%= book_info.publisher %></td>
        <td><%= book_info.publish_year %></td>
        <td><%= book_info.pages %></td>
        <td><%= book_info.cost %></td>
        <td><%= link_to 'Show', book_info %></td>
        <td><%= link_to 'Edit', edit_book_info_path(book_info) %></td>
        <td><%= link_to 'Destroy', book_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td rowspan="1">
          <% book_info.books.each do |book| %>
              <%= book.isbn %>: <%= book.place %><br/>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новая книга', new_book_info_path %>
