

<div class="table">
  <div class="row">
    <div class="col-md-6">
      <h4>Новая книга</h4>
      <%= render 'form' %>
    </div>
    <div class="col-md-6">
      <h4>новый экземпляр существующей книги</h4>
      <%= render 'books/form' %>
    </div>
  </div>
</div>

<%= link_to 'Back', books_path %>
