<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book_info.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book_info.author %>
</p>

<p>
  <strong>Publish city:</strong>
  <%= @book_info.publish_city %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book_info.publisher %>
</p>

<p>
  <strong>Publish year:</strong>
  <%= @book_info.publish_year %>
</p>

<p>
  <strong>Pages:</strong>
  <%= @book_info.pages %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @book_info.cost %>
</p>

<%= link_to 'Edit', edit_book_info_path(@book_info) %> |
<%= link_to 'Back', book_infos_path %>
