<%= form_for(@book_genre) do |f| %>
  <% if @book_genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book_genre.errors.count, "error") %> prohibited this book_genre from being saved:</h2>

      <ul>
      <% @book_genre.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :genre %><br>
    <%= f.text_field :genre %>
  </div>
  <div class="field">
    <%= f.label :book_info %><br>
    <%= f.text_field :book_info %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
