<h1>Listing book_genres</h1>

<table>
  <thead>
    <tr>
      <th>Genre</th>
      <th>Book info</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @book_genres.each do |book_genre| %>
      <tr>
        <td><%= book_genre.genre %></td>
        <td><%= book_genre.book_info %></td>
        <td><%= link_to 'Show', book_genre %></td>
        <td><%= link_to 'Edit', edit_book_genre_path(book_genre) %></td>
        <td><%= link_to 'Destroy', book_genre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book genre', new_book_genre_path %>
