<p id="notice"><%= notice %></p>

<p>
  <strong>Genre:</strong>
  <%= @book_genre.genre %>
</p>

<p>
  <strong>Book info:</strong>
  <%= @book_genre.book_info %>
</p>

<%= link_to 'Edit', edit_book_genre_path(@book_genre) %> |
<%= link_to 'Back', book_genres_path %>
