<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Имя' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Отчество' %><br>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label 'Фамилия' %><br>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label 'Адрес' %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label 'Домашний телефон' %><br>
    +<%= f.text_field :phone_home %>
    <p class="help-block">Только цифры. Например: 79009000909</p>
  </div>
  <div class="field">
    <%= f.label 'Рабочий телефон' %><br>
    +<%= f.text_field :phone_work %>
    <p class="help-block">Только цифры. Например: 79009000909</p>
  </div>
  <div class="field">
    <%= f.label 'Дата рождения' %><br>
    <%= f.date_select :dob, {:start_year => 1900} %>
  </div>
  <div class="field">
    <%= f.hidden_field :status, :value => 0 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
