<h1>Список читателей</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Fname</th>
      <th>Lname</th>
      <th>Address</th>
      <th>Phone home</th>
      <th>Phone work</th>
      <th>Dob</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.fname %></td>
        <td><%= user.lname %></td>
        <td><%= user.address %></td>
        <td><%= user.phone_home %></td>
        <td><%= user.phone_work %></td>
        <td><%= user.dob %></td>
        <td><%= user.status %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Зарегать нового читателя', new_user_path %>
