<h1>Listing books</h1>

<table>
  <thead>
    <tr>
      <th>Book info</th>
      <th>Hash</th>
      <th>Status</th>
      <th>Place</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.book_info %></td>
        <td><%= book.isbn %></td>
        <td><%= book.status %></td>
        <td><%= book.place %></td>
        <td><%= link_to 'Show', book %></td>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
