<p id="notice"><%= notice %></p>

<p>
  <strong>Book info:</strong>
  <%= @book.book_info %>
</p>

<p>
  <strong>isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Status:</strong>
  <%= @book.status %>
</p>

<p>
  <strong>Place:</strong>
  <%= @book.place %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
