<%= form_for(@user_book) do |f| %>
  <% if @user_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_book.errors.count, "error") %> prohibited this user_book from being saved:</h2>

      <ul>
      <% @user_book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br>
    <%= f.collection_select :user_id, User.where('books_count<5'), :id, :valid_name %>
  </div>
  <div class="field">
    <%= f.label :book %><br>
    <%= f.collection_select :book_id, Book.where("status&#{Book::STATUS_GIVEN}=0"), :id, :book_ident %>
  </div>
  <div class="field">
    <%= f.label :expires_at %><br>
    <%= f.datetime_select :expires_at %>
  </div>
  <div class="field">
    <%= f.hidden_field :status, :value => 0 %>
  </div>
  <div class="actions">
    <%= f.submit 'Отдать книгу' %>
  </div>
<% end %>
