<h1>Книги на дом</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Book</th>
      <th>Expires at</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_books.each do |user_book| %>
      <tr class="<%= "danger" if user_book.expires_at<DateTime.now %>">
        <td><%= user_book.user.valid_name %></td>
        <td><%= user_book.book.book_ident %></td>
        <td><%= user_book.expires_at %></td>
        <td><%= user_book.status %></td>
        <td><%= link_to 'Show', user_book %></td>
        <td><%= link_to 'Edit', edit_user_book_path(user_book) %></td>
        <td><%= link_to 'Destroy', user_book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Зафиксировать передачу книги', new_user_book_path %>
