<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_book.user %>
</p>

<p>
  <strong>Book:</strong>
  <%= @user_book.book %>
</p>

<p>
  <strong>Expires at:</strong>
  <%= @user_book.expires_at %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user_book.status %>
</p>

<%= link_to 'Edit', edit_user_book_path(@user_book) %> |
<%= link_to 'Back', user_books_path %>
